#aa {
  border: 2px solid #ffffff;
}

.f_box {
  display: flex;
  flex-wrap: wrap;
}

.f_item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 50%;
}

.container {
  /* width: 500px; */
}

.header {
  background-color: bisque;
}
.menu {
  background-color: rgb(225, 231, 231);
  position: fixed;

  border: 3px solid #ffffff;
  height: 500px;
  width: 100px;
  float: left;
  font-size: 15px;
}
.body {
  position: relative;
  left: 100px;
}
